<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--<File name="File" fileName="logs/application.log">-->
            <!--<File name="File" fileName="/home/inf226.981.3c/logs/application.log">-->
            <!--<PatternLayout>-->
                <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>-->
            <!--</PatternLayout>-->
        <!--</File>-->
        <!--RollingFile name="RollingFile" fileName="logs/application.log"-->
        <!--filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">-->
        <!--<RollingFile name="RollingFile" fileName="/home/inf226.981.3c/logs/application.log">-->
        <RollingFile name="RollingFile" fileName="/home/inf226.981.3c/logs/application.log"
                     filePattern="/home/inf226.981.3c/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>